@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Poppins', sans-serif;
}

a{
  color: black;
  text-decoration: none;
  text-decoration-color: white;
  transition: all 0.3s ease;
}

a:hover{
  color: gray;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: gray;
}

.btn{
  font-weight: 600;
  width: 8rem;
  padding: 1rem;
  border-radius: 2rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-color-1, .btn-color-2{
  border: black 0.1rem solid;
}

.btn-color-1 {
  background: none;
}

.btn-color-2, .btn-color-1:hover{
  background-color: rgb(55, 55, 55);
  color: white;
}

.btn-color-2:hover{
  background-color: black;
}

section{
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  /* min-height: fit-content; */
}

.title{
  font-size: 3rem;
  text-align: center;
}

.section__text{
  text-align: center;
}